/docs/api/
/docs/_site/
/examples/.vs/
/examples/bin/
/examples/obj/
/sdk/.vs/
/sdk/forks.hedera-protobufs/bin/
/sdk/forks.hedera-protobufs/obj/
/sdk/forks.hiero-ledger.hiero-consensus-node/bin/
/sdk/forks.hiero-ledger.hiero-consensus-node/obj/
/sdk/forks.hiero-ledger.hiero-sdk-tck/bin/
/sdk/forks.hiero-ledger.hiero-sdk-tck/obj/
/sdk/Hedera.Hashgraph/bin/
/sdk/Hedera.Hashgraph/obj/
/sdk/Hedera.Hashgraph.SDK/bin/
/sdk/Hedera.Hashgraph.SDK/obj/
/sdk/Hedera.Hashgraph.Tests.SDK/bin/
/sdk/Hedera.Hashgraph.Tests.SDK/obj/
/sdk/Hedera.Hashgraph.Tests.Integration/bin/
/sdk/Hedera.Hashgraph.Tests.Integration/obj/
